{% extends './layout.html' %}
{% block title %}Seb-Art1ck{% endblock %}
{% block body %}
   
    <nav class="sideBar">
        <div class="profile">
          <i class="fa-solid fa-user-astronaut"></i>
        </div>
        <p class="text-muted">Analytics</p>
        <ul class="navLinks">
          <li>
            <a href="#" class="link">
              <i class="fa-solid fa-table"></i>
              <span class="link-text">DashBoard</span>
            </a>
          </li>
          <li>
            <a href="#" class="link">
              <i class="fas fa-chart-line fa-x2"></i>
              <span class="link-text">Performance</span>
            </a>
          </li>
        </ul>
        <p class="text-muted">Content</p>
        <ul class="navLinks">
          <li>
            <a href="#" class="link">
              <i class="fas fa-clipboard fa-x2"></i>
              <span class="link-text">Guides</span>
            </a>
          </li>
          <li>
            <a href="#" class="link link-like">
              <i class="fas-solid fa-thumbs-up fa-x2"></i>
              <span class="link-text">Likes</span>
            </a>
          </li>
        </ul>
        <ul class="navLinks">
          <li>
            <a href="#" class="link" data-theme>
              <i class="fas fa-toggle-off fa-x2"></i>
              <span class="link-text">Themes</span>
            </a>
          </li>
          <li>
            <a href="#" class="link">
              <i class="fas fa-gear fa-x2"></i>
              <span class="link-text">Setting</span>
            </a>
          </li>
        </ul>
      </nav>
      
      <main>
        <h1>Art1ck-S3bas</h1>
        <p>HIT THE LIKE BUTTON. Nulla minima dolorum eius voluptatibus voluptate. Maxime dignissimos fugit soluta minus assumenda obcaecati eveniet ad dolorum, inventore nobis! Cumque aspernatur officia quibusdam.
          Enim optio veritatis suscipit voluptas voluptatibus, atque rem adipisci eum expedita quisquam perspiciatis quasi! Libero, quod temporibus cupiditate nam dolore exercitationem tempore, id animi commodi iusto consequuntur aperiam ipsum obcaecati!
          Debitis facere animi quis quia nesciunt ipsa rem voluptate libero velit. Impedit autem consequuntur alias perspiciatis quas beatae? Delectus maiores quaerat modi suscipit! Neque officia recusandae atque ut laboriosam dolor.
          Assumenda saepe minima ut rem nostrum quasi consequuntur! Commodi iste id ad facilis repellendus rem animi soluta deserunt. Necessitatibus quasi tempora iure autem assumenda ratione optio dicta enim est cupiditate!
          Odit iusto doloremque aliquid eligendi ex qui officiis impedit minus dolore odio ipsum facere harum culpa voluptatem architecto, quae nesciunt maiores corporis! Id, iure aliquam natus voluptatum asperiores nesciunt obcaecati.</p>
        <br>
        <figure>
          <img src="static/img/Estacion.jpg" alt="paisaje">
          <figcaption>Esperando el transporte</figcaption>
        </figure>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras tincidunt lobortis feugiat vivamus at. Sodales neque sodales ut etiam sit amet nisl purus in. Eros donec ac odio tempor orci dapibus ultrices in iaculis. Non tellus orci ac auctor augue mauris augue neque gravida. Mi tempus imperdiet nulla malesuada. Et malesuada fames ac turpis egestas maecenas. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet. Duis at consectetur lorem donec massa sapien faucibus et. Adipiscing commodo elit at imperdiet dui accumsan sit. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Neque vitae tempus quam pellentesque nec nam. Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Dui sapien eget mi proin sed. Malesuada bibendum arcu vitae elementum curabitur.
          <br>
          Vulputate dignissim suspendisse in est ante in nibh mauris. Mauris ultrices eros in cursus turpis massa tincidunt dui ut. Tempus quam pellentesque nec nam aliquam. Sodales neque sodales ut etiam. Facilisis magna etiam tempor orci eu. Iaculis nunc sed augue lacus viverra vitae congue. Mauris pharetra et ultrices neque ornare aenean. Eget gravida cum sociis natoque penatibus et magnis dis. Sit amet facilisis magna etiam tempor orci. Posuere urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Cursus in hac habitasse platea dictumst quisque sagittis purus sit. Elementum pulvinar etiam non quam lacus suspendisse. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Et tortor consequat id porta nibh venenatis cras. Nulla at volutpat diam ut venenatis tellus in.
          <br>
          Varius sit amet mattis vulputate enim. Et netus et malesuada fames ac turpis egestas sed. Penatibus et magnis dis parturient montes nascetur. Nisl rhoncus mattis rhoncus urna neque viverra. Arcu ac tortor dignissim convallis. Cras sed felis eget velit aliquet. Libero id faucibus nisl tincidunt eget nullam. At varius vel pharetra vel turpis nunc eget lorem dolor. In pellentesque massa placerat duis ultricies lacus. Amet consectetur adipiscing elit ut aliquam purus sit amet. Volutpat odio facilisis mauris sit. Congue eu consequat ac felis donec et odio pellentesque diam. Interdum velit laoreet id donec ultrices. Nunc sed id semper risus. In dictum non consectetur a erat nam at lectus urna. Egestas purus viverra accumsan in nisl nisi. Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Urna cursus eget nunc scelerisque. Elementum tempus egestas sed sed risus pretium quam. Tempor commodo ullamcorper a lacus vestibulum sed arcu non.
          <br>
          Egestas tellus rutrum tellus pellentesque eu. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Dignissim sodales ut eu sem integer vitae. Leo duis ut diam quam nulla. In dictum non consectetur a erat nam at lectus urna. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Velit laoreet id donec ultrices tincidunt arcu non. Tristique senectus et netus et malesuada fames ac turpis. Accumsan lacus vel facilisis volutpat. Netus et malesuada fames ac turpis egestas maecenas. Et sollicitudin ac orci phasellus egestas. Id interdum velit laoreet id donec ultrices. Curabitur gravida arcu ac tortor dignissim convallis aenean.
          <br>
          Velit euismod in pellentesque massa placerat duis ultricies lacus. Quis blandit turpis cursus in. Auctor neque vitae tempus quam pellentesque nec. Commodo ullamcorper a lacus vestibulum sed arcu non. Urna id volutpat lacus laoreet non. Pellentesque habitant morbi tristique senectus. Eleifend donec pretium vulputate sapien nec sagittis. Sed felis eget velit aliquet sagittis. Platea dictumst quisque sagittis purus sit amet volutpat. Convallis aenean et tortor at risus.
          <br>
          Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Ultrices sagittis orci a scelerisque purus. Sagittis orci a scelerisque purus semper. Elit ut aliquam purus sit. Dolor sed viverra ipsum nunc aliquet bibendum enim. Pellentesque pulvinar pellentesque habitant morbi tristique. Aliquet lectus proin nibh nisl condimentum id. Amet justo donec enim diam vulputate ut pharetra sit amet. Viverra justo nec ultrices dui sapien eget mi. Non arcu risus quis varius quam quisque id. Amet nisl purus in mollis. Enim ut sem viverra aliquet eget sit amet. Mi quis hendrerit dolor magna eget est lorem ipsum dolor. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Feugiat nibh sed pulvinar proin gravida hendrerit. Elit pellentesque habitant morbi tristique.
        </p>
      </main>

{% endblock %}